@charset "UTF-8";

// tempcolour
@main-background: #1e1e1e;
@main-text: #f0f0f0;

body
{
    background-color: @main-background;
    color: @main-text;
    font-family: "open sans";
    font-size: 13px;
}

p
{
    margin: 0;
}

.tagger-entries
{
    .tagger-entry
    {
        // tempcolour
        @background-fade: #dbdbdb;

        padding: 3px;
        cursor: pointer;

        &:hover
        {
            background-color: fade(@background-fade,10%);
        }
    }
}

.button-28
{
    @main-background: #2a7497;

    display: inline-block;
    padding: 5px 30px 5px 30px;
    background-color: @main-background;
    border-radius: 4px;
    cursor: pointer;
    transition: .2s background-color;
    user-select: none;
    margin: 2px;

    &:hover
    {
        background-color: fade(@main-background,70%);
    }
}