@charset "UTF-8";

// tempcolour
@main-background: #1e1e1e;
@main-text: #f0f0f0;

body
{
    background-color: @main-background;
    color: @main-text;
    font-family: "open sans";
    font-size: 13px;
}

p
{
    margin: 0;
}